.table tr, .table td {
    border: none !important;
}

.table tr td:first-child {
    width: 30%;
}

.table tr td:last-child {
    width: 5%;
}

.title {
    border: 1px solid #ddd !important;
    background-color: #f2f2f2;
}

.title td {
    padding: 5px 0px 5px 10px !important;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px 0px 5px 0px;
}

.table tr.title, .table tr.title td {
    border: 1px solid #ddd !important;
}

.test-data tr td {
    border: 1px solid #ddd !important;
}

.table thead th {
    text-align: center !important;
    color: rgb(126,126,126);
    font-family: "Arial", san-serif;
}

.fa {
    margin-left: -14px;
    position: absolute;
    color: grey;
}

table {
    border-collapse: separate;
    border-spacing: 5px 0;
}

/* Harold */
